.divisor{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.settingsButton{
    display: flex;
    background-color: magenta;
    width: fit-content;
    height: 50PX;
    border: purple;
    border-width: 2px;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* el modal a partir de aqui */

.elModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(100, 100, 100, 0.547);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settingsCard{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;

    background-color: darkgray;


    border: solid black 1px;
    border-radius: 25px;

    overflow: hidden;
}


.settingsHead{
    font-size: larger;

    padding: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: gray;
}