.divisor{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.settingsButton{
    display: flex;
    background-color: magenta;
    width: fit-content;
    height: 50PX;
    border: purple;
    border-width: 2px;
    border-radius: 25px;
    color: white;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.elModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background-color: rgba(100, 100, 100, 0.547);
    display: flex;
    flex-direction: column;
}

.settingsHead{
    display: flex;
    height: 75px;
    margin: 25px 25px;

}