.container-swiper {
  position: relative;
  padding-top: 0px;
  margin-bottom: 30px;
  height: 232px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sw-card-container {
  display: block;
  object-fit: cover;
  width: 75vw;
  height: 60px;
  padding: 60px 20px;
  margin: auto;
  border-radius: 30px;
  text-align: left;
  background-position: right;
  color: white;
  font-weight: normal;
  background-size: cover;
}

.swiper-pagination {
  bottom: 15px;
  position: absolute;
}
