@import "root.css";

@font-face {
  font-family: Kanit;
  src: url(nKKZ-Go6G5tXcraVGwA.ttf);
}

html,
body {
  width: 100vw;
  margin: 0;
  font-family: Kanit;
  background-color: var(--colors-background);
}

p {
  margin: 0;
}

.text24px {
  font-size: 24px;
  color: var(--colors-secondary);
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 24px;
}
