:root{
    /* Page sizes */
    --viewWidth: 100vw;
    /*Height*/
    --sectionBig: 1289px;
    --sectionMedium: 856px;
    --sectionSmall: 409px;

    --dividerBig: 204px;
    --dividerMedium: 96px;
    --dividerSmall:60px;

    --nav:57px;

    --cardSquare:272px;
    --cardWidhtSmall:274px;
    --cardWidhtBig:290px;
    --cardHeightXXL:569px;
    --cardHeightXL:545px;
    --cardHeightL:485px;
    --cardHeightM:461px;
    --cardHeightS:455px;
    --cardHeightXS:395px;
    --cardHeightXXS:391px;


    /* Page colors */
    --purple: rgb(110,52,235);
    --lightBlue: rgb(111,176,214);
    --white: rgb(243,243,243);
    --ligthGrey: rgb(234,234,234);


}