@import 'root.css';
@media (min-width: 1024px) {
  .ecosystemCard-container {
    width: auto;
    height: auto;
    margin: var(--space-20px);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .ecosystemCard {
    width: 150px;
    height: 220px;
    margin: var(--space-8px);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    overflow: hidden;
  }

  .ecosystemCardlink {
    text-decoration: none;
    color: var(--colors-textSubtle);
  }
  .ecosystemCard img {
    object-fit: contain;
  }
  .ecosystemCard-text {
    padding: var(--space-12px);
    flex-wrap: wrap;
  }

  .ecosystemCard-text p {
    font-size: var(--fontSizes-12px);
    color: var(--colors-text);
  }

  .ecosystemCard-text a {
    display: block;
    margin-top: var(--space-8px);
    text-decoration: none;
    color: var(--colors-primary);
    font-weight: bold;
  }

  .swap-on-hover {
    width: 108px;
    height: 108px;

    position: relative;
  }

  .swap-on-hover img {
    position: absolute;

    overflow: hidden;
    object-fit: contain;
  }

  .swap-on-hover .swap-on-hover__front-image {
    z-index: 9999;
    transition: opacity 0.5s linear;
    cursor: pointer;
  }

  .ecosystemCard:hover {
    .swap-on-hover > .swap-on-hover__front-image {
      opacity: 0;
    }
    .ecosystemCardlink {
      transition: 0.2s linear;
      color: var(--colors-primary);
    }
  }
}
